@import "variables";

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .item {
      height: 100%;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      .item-text {
        font-size: 1.5rem;
        font-weight: medium;
        margin: 0;
      }
    }
    .item:hover {
      cursor: pointer;
    }
    .active {
      position: relative;
      font-weight: bold;
    }
    .active:after {
      content: "";
      display: block;
      width: 8vw;
      height: 8px;
      background-color: $primary-color;
      position: absolute;
      top: 90%;
      border-radius: 10px;
    }
  }
}

@media screen and (min-width: 1660px) {
  .container {
    .menu {
      .active:after {
        width: 200px;
        height: 10px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .item-text {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 860px) {
  .item-text {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .item-text {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 460px) {
  .container {
    .menu {
      .active:after {
        width: 15vw;
        height: 6px;
      }
    }
  }
  .item-text {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 350px) {
  .item-text {
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width: 250px) {
  .item-text {
    font-size: 0.5rem !important;
  }
}
