.container {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #AFBBF2;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .head,.element {
      display: flex;
      justify-content: space-around;
      border: 1px solid rgba(0, 0, 0, 0.64);
      padding: 5px 0;
      width: 100%;

      h2, input {
        width: 30%;
        margin: 0;
        align-items: center;
        text-align: center;
      }
    }

    .controller {
      height: 50px;
      display: flex;
      gap: 10px;
      padding: 5px 0;

      button {
        padding: 0 5px;
      }
    }
  }
}
