<div class="container">
  <div class="content">
    <div class="page-title">
      <h1>Калькулятор усреднения криптовалют</h1>
    </div>
    <div class="head">
      <h2 class="head-text">{{ headText.PRICE }}</h2>
      <h2 class="head-text">{{ headText.COUNT }}</h2>
      <h2 class="head-text">{{ headText.SUM }}</h2>
    </div>
    <div class="element" *ngFor="let elem of fieldsArray; let i = index">
        <mat-form-field class="user-input" appearance="fill">
          <input
            matInput
            class="input-crypto"
            type="number"
            [(ngModel)]="elem[0]"
            (change)="refreshValues()"
            [pattern]="numberPattern"
          />
        </mat-form-field>
      <mat-form-field class="user-input" appearance="fill">
        <input
          matInput
          class="input-crypto"
          type="number"
          [(ngModel)]="elem[1]"
          (change)="refreshValues()"
          [pattern]="numberPattern"
        />
      </mat-form-field>
      <h2 class="head-text">${{ elem[2] | fixed : 2 | number : ".2" }}</h2>
    </div>
    <div class="head">
      <h2 class="head-text">{{ headText.AVERAGE }}</h2>
      <h2 class="head-text">{{ headText.COUNT }}</h2>
      <h2 class="head-text">{{ headText.SUM }}</h2>
    </div>
    <div class="element">
      <h2 class="head-text">${{ average | fixed : 2 }}</h2>
      <h2 class="head-text">{{ totalCount | number : ".2" }}</h2>
      <h2 class="head-text">${{ totalSum | fixed : 2 | number : ".2" }}</h2>
    </div>
  </div>
  <div class="controller">
    <button mat-raised-button color="primary" (click)="addNewField()">
      {{ tableButtonText.ADD_FIELD }}
    </button>
    <button mat-raised-button color="warn" (click)="removeLastField()">
      {{ tableButtonText.REMOVE_FIELD }}
    </button>
    <button mat-raised-button (click)="refreshValues()">
      {{ tableButtonText.CALCULATE }}
    </button>
  </div>
</div>
