@import "variables";

.rates-container {
  margin-top: 6px;
  width: 100%;
  max-height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  table {
    min-width: 600px;
  }
  .example-form {
    background: white;
    .example-full-width {
      width: 40%;
      ::ng-deep .mat-option-text {
        display: flex;
        align-items: center;
      }
    }
  }
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
  .table-container {
    position: relative;
    min-height: 200px;
    height: 95vh;
    overflow: auto;
    .spinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $black-transparent;
      .mat-spinner {
        top: 50px;
      }
    }
  }
  table {
    width: 100%;
    height: 88vh;
    .negative,
    .ok {
      font-weight: bold;
    }
    .negative {
      color: red;
    }
    .rotate {
      transform: rotate(180deg);
    }
    .content {
      align-items: center;
      display: flex;
      gap: 10px;
    }
    .dynamic-content {
      font-weight: 500;
      img {
        height: 10px;
      }
    }
    .ok {
      color: green;
    }
  }
  img {
    width: 30px;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $secondary-color;
    border-radius: 15px;
    padding-left: 20px;
    img {
      width: 30px;
    }
  }
}
