<div class="rates-container">
  <div class="spinner">
    <mat-spinner *ngIf="!data?.length"></mat-spinner>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let element">
          <div class="content">
            <img
              src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{
                element.cap_id
              }}.png"
              alt="logo"
            />
            <span class="name">{{ element.name }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Цена</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="
            element.quote.USD.percent_change_1h < 0 ? 'negative' : 'ok'
          "
        >
          {{ element.quote.USD.price.toFixed(2) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="1_day_percent">
        <th mat-header-cell *matHeaderCellDef>1 день %</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="
            element.quote.USD.percent_change_1h < 0 ? 'negative' : 'ok'
          "
        >
          {{ element.quote.USD.percent_change_1h.toFixed(3) | absolute }}
        </td>
      </ng-container>

      <ng-container matColumnDef="7_days_percent">
        <th mat-header-cell *matHeaderCellDef>7 дней %</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="
            element.quote.USD.percent_change_7d < 0 ? 'negative' : 'ok'
          "
        >
          {{ element.quote.USD.percent_change_7d.toFixed(3) | absolute }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
