<div class="content">
  <div class="page-title"><h1>О нас</h1></div>
  <div class="main-text">
    <div class="label">
      <p>
        <strong> CryptoDailyNews</strong> - это сервис для криптоэнтузиастов,
        сделанный криптоэнтузиастами.
      </p>
    </div>
    <div class="text">
      <p>
        Мы постарались сделать максимально полезную цифровую платформу для всех,
        кто хочет быть в курсе событий на крипторынке и стремится на этом
        зарабатывать.
      </p>
      <strong> Будьте в курсе всех новостей рынка!</strong>
      <p>
        Crypto News (помощник CryptoDailyNews) собирает новости и статьи с
        популярных ресурсов в области криптовалют, блокчейна и финтеха.
      </p>
      <p>
        Список источников постоянно растет, сейчас в нем более 300 сайтов.
        Проект предоставляет информацию на 4 языках — русском, английском,
        немецком и испанском. В наших планах постоянно добавлять новые языковые
        версии, чтобы рассказывать о криптовалюте всему миру.
      </p>
      <p>
        CryptoDailyNews берёт из Crypto News новости и переносит их сюда на
        сайт. Следите за курсами криптовалют. Сайт CryptoDailyNews показывает
        курсы криптовалют в режиме реального времени, данные берутся из
        CoinMarketCap. Сайт позволяет следить за изменением цен и также
        сравнивать динамику с новостным фоном. Можно закрепить все интересующие
        криптовалюты и следить только за ними, отслеживать стоимость монет на
        разных биржах.
      </p>
    </div>
  </div>
</div>
