@import "variables";

.container {
  width: 100%;
  height: 100%;
  background-color: $primary-color;

  .content {
    padding: 40px;
    display: flex;
    flex-direction: column;

    .page-title {
      display: flex;
      justify-content: center;
      color: white;
      margin-bottom: 20px;

      h1 {
        font-size: 3vw;
        font-weight: bold;
        width: 100%;
        flex-wrap: wrap;

        .video {
          margin: 15px 20px;
          border-radius: 30px;
          border: 1px solid white;
          width: 29%;
          aspect-ratio: 16/9;

          iframe {
            width: 100%;
            height: 100%;
            border-radius: 30px;
          }
        }

        z-index: 1;
      }

      .page-title:before {
        width: 45vw;
      }

      .video-block {
        .upper-separator {
          width: 100%;
        }

        .list {
          justify-content: center;
          display: flex;
          width: 100%;
          flex-wrap: wrap;

          .video {
          < < < < < < < Updated upstream margin:15 px 20 px;
            border-radius: 30px;
            border: 1px solid white;
            width: 29%;
            height: 150px;

            iframe {
              width: 100%;
              height: 100%;
              border-radius: 30px;
            }

          == == == = margin:10 px 15 px;
            width: 29%;
          > > > > > > > Stashed changes
          }
        }

        .bottom-separator {
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 1300px) {
      .content {
        .video-block {
          .list {
            .video {
              margin: 10px 15px;
              width: 25%;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      .content {
        .video-block {
          .list {
            .video {
              width: 40%;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 850px) {
      .content {
        overflow: scroll;

        .video-block {
          .list {
            .video {
              margin: 10px;
              width: 80%;
              height: 250px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 670px) {
      .content {
        .video-block {
          .list {
            .video {
              width: 100%;
              height: 200px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 470px) {
      .content {
        padding: 10px;

        .video-block {
          .list {
            .video {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
