<div class="content">
  <div class="title"><h1>Обучающие видеоматериалы</h1></div>
  <div class="video-block">
    <div class="upper-separator">
      <hr />
    </div>
    <div class="list">
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/3Z1kOUOVTjk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/Je5XfH2AaXw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/jYPz7LidIco"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/8GIBKlgeyRE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/ws9lV26EVKg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video">
        <iframe
          src="https://www.youtube.com/embed/7dBmpEWB5Bg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="bottom-separator">
      <hr />
    </div>
  </div>
</div>
