@import "variables";

.app-component {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  .leftbar {
    width: 20%;
    height: 100%;
  }
  .content {
    width: 100%;
    height: 100%;
    .header {
      width: 100%;
      height: 5.5vh;
      min-height: 50px;
      max-height: 120px;
      background-color: $secondary-color;
      color: white;
    }
  }
}

@media screen and (max-width: 1280px) {
  .app-component {
    .leftbar {
      width: 30%;
    }
  }
}

@media screen and (max-width: 860px) {
  .app-component {
    .leftbar {
      width: 35%;
    }
  }
}

@media screen and (max-width: 768px) {
  .app-component {
    .leftbar {
      width: 40%;
    }
  }
}

@media screen and (max-width: 460px) {
  .app-component {
    .leftbar {
      display: none;
    }
  }
}
