@import "variables";

.app-component {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header-style {
    width: 100%;
    height: 5%;
    background-color: $secondary-color;
  }

  .content {
    width: 100%;
    height: 95%;
    display: flex;

    .left-bar-style {
      width: 15%;
      height: 100%;
      background-color: $secondary-color;
    }

    .main-content {
      width: 85%;
      height: 100%;
      background-color: $primary-color;
    }
  }
}

@media (max-device-width: 1280px) {
  .main-content {
    width: 80% !important;
  }
  .left-bar-style {
    width: 20% !important;
  }
}

@media (max-device-width: 1000px) or (max-width: 1000px) {
  .left-bar-style {
    display: none;
  }
  .main-content {
    width: 100% !important;
    overflow: auto;
  }
}
