<div class="content">
  <div class="page-title">
    <h1>Новости в мире криптовалют</h1>
  </div>
  <div class="news-wrapper">
    <div class="news-block">
      <div class="date-picker">
        <div [ngClass]="getLabelClassName(0)">
          <h1 (click)="changeSelection(0)">Сегодня</h1>
        </div>
        <div [ngClass]="getLabelClassName(1)">
          <h1 (click)="changeSelection(1)">Вчера</h1>
        </div>
        <div [ngClass]="getLabelClassName(2)">
          <h1 (click)="changeSelection(2)">{{ date2 | getDate }}</h1>
        </div>
        <div [ngClass]="getLabelClassName(3)">
          <h1 (click)="changeSelection(3)">{{ date3 | getDate }}</h1>
        </div>
        <div [ngClass]="getLabelClassName(4)">
          <h1 (click)="changeSelection(4)">{{ date4 | getDate }}</h1>
        </div>
        <div [ngClass]="getLabelClassName(5)">
          <h1 (click)="changeSelection(5)">{{ date5 | getDate }}</h1>
        </div>
      </div>
      <div class="separator"><hr /></div>
      <div class="news" *ngIf="selectedDate !== 0">
        <h1>На этот день новостей нет</h1>
      </div>
      <div class="news" *ngIf="selectedDate === 0">
        <div class="right-side">
          <div class="item">
            <div class="news-preview">
              <img src="assets/images/binance.png" alt="" />
            </div>
            <div class="news-description">
              <p>
                Криптовалютная самостоятельная защита на фоне падения биржи FTX
              </p>
            </div>
          </div>
          <div class="item">
            <div class="news-preview">
              <img src="assets/images/crypto.jpeg" alt="" />
            </div>
            <div class="news-description">
              <p>
                Первопроходец в Америке: Binance.US подаст заявку на
                приобретение Voyager
              </p>
            </div>
          </div>
        </div>
        <div class="separator"><hr /></div>
        <div class="left-side">
          <div class="item">
            <div class="news-description">
              <p>
                Биржа Bybit объявляет о создании фонда в размере 100 миллионов
                долларов для поддержки клиентов
              </p>
            </div>
            <div class="news-preview">
              <img src="assets/images/bybit.jpeg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="news-description">
              <p>
                Binance нацеливает фонд восстановления $1 млрд для криптоактивов
              </p>
            </div>
            <div class="news-preview">
              <img src="assets/images/busd.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-news">
    <div class="new">
      <div class="new-image">
        <img src="assets/images/binance.png" alt="" />
      </div>
      <div class="new-description">
        <p>Криптовалютная самостоятельная защита на фоне падения биржи FTX</p>
      </div>
    </div>
    <div class="new">
      <div class="new-image">
        <img src="assets/images/crypto.jpeg" alt="" />
      </div>
      <div class="new-description">
        <p>
          Первопроходец в Америке: Binance.US подаст заявку на приобретение
          Voyager
        </p>
      </div>
    </div>
    <div class="new">
      <div class="new-image">
        <img src="assets/images/bybit.jpeg" alt="" />
      </div>
      <div class="new-description">
        <p>
          Биржа Bybit объявляет о создании фонда в размере 100 миллионов
          долларов для поддержки клиентов
        </p>
      </div>
    </div>
    <div class="new">
      <div class="new-image">
        <img src="assets/images/busd.jpeg" alt="" />
      </div>
      <div class="new-description">
        <p>Binance нацеливает фонд восстановления $1 млрд для криптоактивов</p>
      </div>
    </div>
  </div>
</div>
