.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
  }
  .news-wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    .news-block {
      margin-top: 30px;
      border-radius: 10px;
      width: 95%;
      height: 60vh;
      background-color: #5c5c5c;
      .date-picker {
        margin: 0 40px;
        height: 40px;
        display: flex;
        gap: 50px;
        .date {
          &-active {
            color: #fff;
            margin: 5px 0;
            cursor: pointer;
            h1 {
              font-weight: 600;
              margin: 0;
              font-size: 28px;
            }
          }
          margin: 5px 0;
          cursor: pointer;
          h1 {
            color: #ffffff50;
            font-weight: 600;
            margin: 0;
            font-size: 28px;
            transition: 0.4s;
          }

          h1:hover {
            color: white;
          }
        }
      }
      .news {
        width: 100%;
        height: calc(100% - 40px);
        display: flex;

        h1 {
          color: white;
          width: 100%;
          text-align: center;
          height: auto;
        }

        .right-side {
          margin-top: 20px;
          width: 50%;
          display: flex;
          flex-direction: column;
          .item {
            margin: 10px 0 10px 10px;
            display: flex;
            width: 100%;
            height: 150px;
            gap: 10px;
            .news-preview {
              width: 110px;
              height: 110px;
              border: 2px solid #fff;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .news-description {
              max-width: 40%;
              height: 110px;
              p {
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                line-height: normal;
                margin: 0;
              }
            }
          }
        }
        .separator {
          display: flex;
          align-items: center;
          height: 100%;
          width: 1px;
          hr {
            color: red;
            width: 100%;
            height: 80%;
          }
        }
        .left-side {
          margin-top: 20px;
          display: flex;
          width: 50%;
          flex-direction: column;
          .item {
            margin: 10px 0 10px -10px;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 150px;
            gap: 10px;
            .news-description {
              max-height: 100%;
              height: 110px;
              max-width: 40%;
              p {
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                line-height: normal;
                margin: 0;
              }
            }
            .news-preview {
              width: 110px;
              height: 110px;
              border: 2px solid #fff;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .mobile-news {
    display: none;
    width: 95%;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

    .new {
      display: flex;
      border-radius: 15px;
      padding: 10px;
      background-color: #5c5c5c;

      .new-description {
        margin-left: 10px;
        color: white;

        p {
          margin: 0;
        }
      }

      .new-image {
        width: 60px;
        height: 60px;

        img {
          width: 60px;
          height: 60px;
          border: 1px solid white;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-device-width: 1280px) or (max-width: 1280px) {
}

@media (max-device-width: 1280px) or (max-width: 1280px) {
  .title {
    margin-top: 20px !important;
    h1 {
      font-size: 25px !important;
    }
  }
  .news-wrapper {
    display: none !important;
  }

  .mobile-news {
    display: flex !important;
  }
}
