<div class="content">
  <div class="title">
    <h1>Новости в мире криптовалют</h1>
  </div>
  <div class="news-wrapper">
    <div class="news-block">
      <div class="date-picker">
        <div class="date-active">
          <h1>Сегодня</h1>
        </div>
        <div class="date"><h1>Вчера</h1></div>
        <div class="date"><h1>25 Ноя</h1></div>
        <div class="date"><h1>24 Ноя</h1></div>
        <div class="date"><h1>23 Ноя</h1></div>
        <div class="date"><h1>22 Ноя</h1></div>
      </div>
      <div class="separator"><hr /></div>
      <div class="news">
        <div class="right-side">
          <div class="item">
            <div class="news-preview">
              <img src="assets/images/binance.png" alt="" />
            </div>
            <div class="news-description">
              <p>
                Криптовалютная самостоятельная защита на фоне падения биржи FTX
              </p>
            </div>
          </div>
          <div class="item">
            <div class="news-preview">
              <img src="assets/images/crypto.jpeg" alt="" />
            </div>
            <div class="news-description">
              <p>
                Первопроходец в Америке: Binance.US подаст заявку на
                приобретение Voyager
              </p>
            </div>
          </div>
        </div>
        <div class="separator"><hr /></div>
        <div class="left-side">
          <div class="item">
            <div class="news-description">
              <p>
                Биржа Bybit объявляет о создании фонда в размере 100 миллионов
                долларов для поддержки клиентов
              </p>
            </div>
            <div class="news-preview">
              <img src="assets/images/bybit.jpeg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="news-description">
              <p>
                Binance нацеливает фонд восстановления $1 млрд для криптоактивов
              </p>
            </div>
            <div class="news-preview">
              <img src="assets/images/busd.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
