@import "variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5vh;
    max-height: 120px;
    min-height: 50px;
    color: white;
    h2 {
      font-size: 1.5rem;
      margin: 0;
    }
  }
  .menu {
    width: 100%;
    height: calc(100% - 55px);
    background-color: $secondary-color;
    .auth-buttons {
      margin-top: 20px;
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      justify-content: space-around;
      .sign-in-btn {
        margin-bottom: 1vh;
        button {
          width: 70px;
          height: 35px;
          background: linear-gradient($grey-darker, $grey-lighter);
          border-radius: 20px;
          border: none;
          color: white;
          font-weight: bold;
          box-shadow: 0 0 10px $black-transparent;
          transition: 0.3s;
        }
        button:hover {
          box-shadow: 0 0 1vw $white-transparent;
        }
        button:active {
          box-shadow: 0 5px 10px $black-transparent;
        }
      }
      .sign-up-btn {
        button {
          width: 120px;
          height: 35px;
          background: linear-gradient($grey-darker, $grey-lighter);
          border-radius: 20px;
          border: none;
          color: white;
          font-weight: bold;
          box-shadow: 0 0 10px $black-transparent;
          transition: 0.3s;
        }
        button:hover {
          box-shadow: 0 0 1vw $white-transparent;
        }
        button:active {
          box-shadow: 0 5px 10px $black-transparent;
        }
      }
    }
    .account {
      display: flex;
      align-items: center;
      height: 120px;
      width: 100%;
      .avatar-preview {
        margin-left: 10px;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .username {
        margin-left: 15px;
        h2 {
          font-weight: medium;
          font-family: "Oxanium", cursive;
          font-size: 1.2rem;
          margin: 0;
        }
        color: white;
        .activity-status {
          display: flex;
          align-items: center;
          color: $grey-lightest;
          .online-status {
            display: flex;
            align-items: center;
            .green-dot {
              margin-right: 5px;
              width: 10px;
              height: 10px;
              background-color: green;
              border-radius: 50%;
            }
            span {
              font-family: "DM Sans", sans-serif;
              font-size: 0.8rem;
            }
          }
          .offline-status {
            display: flex;
            align-items: center;
            .red-dot {
              margin-right: 5px;
              width: 10px;
              height: 10px;
              background-color: red;
              border-radius: 50%;
            }
            span {
              font-family: "DM Sans", sans-serif;
              font-size: 1vw;
            }
          }
        }
      }
    }
    .separator {
      border: 1px solid $primary-color;
    }
    .top-coins {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      color: white;
      .top-coins-block {
        .title {
          font-size: 1rem;
        }
        .list {
          .coin {
            min-height: 2vh;
            margin-top: 10px;
            display: flex;
            align-items: center;
            img {
              height: 3vh;
              width: 1.5vw;
              border-radius: 50%;
              margin-right: 0.5vw;
            }
            span {
              font-weight: lighter;
              font-size: 1.5rem;
              margin-right: 1vw;
            }
            small {
              text-align: center;
              align-items: center;
              font-size: 1rem;
              font-weight: medium;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1660px) {
  .container {
    .menu {
      .account {
        margin-left: 15%;
      }
      .top-coins {
        margin-top: 40px;
        .top-coins-block {
          .title {
            font-size: 1rem;
          }
          .list {
            .coin {
              img {
                width: 30px;
                height: 30px;
              }
              span {
                font-size: 1.3rem;
              }
              small {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container {
    .logo {
      h2 {
        font-size: 1.2rem;
      }
    }
    .menu {
      .account {
        .username {
          h2 {
            font-size: 1rem;
          }
          .activity-status {
            .online-status {
              span {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .top-coins {
        .top-coins-block {
          .list {
            .coin {
              img {
                width: 30px;
                height: 30px;
              }
              span {
                font-size: 0.8rem;
              }
              small {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    .logo {
      h2 {
        font-size: 1.2rem;
      }
    }
    .menu {
      .account {
        .username {
          h2 {
            font-size: 1rem;
          }
          .activity-status {
            .online-status {
              span {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .top-coins {
        .top-coins-block {
          .list {
            .coin {
              img {
                width: 30px;
                height: 30px;
              }
              span {
                font-size: 1rem;
              }
              small {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    .menu {
      .top-coins {
        margin-top: 30px;
        .top-coins-block {
          .title {
            font-size: 0.8rem;
          }
          .list {
            .coin {
              img {
                width: 25px;
                height: 25px;
              }
              span {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .container {
    .logo {
      h2 {
        font-size: 1rem;
      }
    }
    .menu {
      .account {
        .avatar-preview {
          width: 40px;
          height: 40px;
        }
        .username {
          h2 {
            font-size: 1rem;
          }
        }
      }
      .top-coins {
        .top-coins-block {
          .list {
            .coin {
              margin-top: 10px;
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .menu {
      .top-coins {
        .top-coins-block {
          .title {
            font-size: 0.6rem;
          }
          .list {
            .coin {
              img {
                width: 20px;
                height: 20px;
              }
              span {
                font-size: 0.6rem;
              }
              small {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .container {
    .menu {
      .auth-buttons {
        .sign-in-btn {
          button {
            width: 55px;
            font-size: 0.75rem;
          }
        }
        .sign-up-btn {
          button {
            width: 95px;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .container {
    .menu {
      .auth-buttons {
        display: block;
        .sign-in-btn {
          display: flex;
          justify-content: center;
          button {
            width: calc(95% - 20px);
          }
        }
        .sign-up-btn {
          display: flex;
          justify-content: center;
          button {
            width: calc(95% - 20px);
          }
        }
      }
      .top-coins {
        margin-top: 10px;
        .top-coins-block {
          .title {
            font-size: 0.5rem;
          }
          .list {
            .coin {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
