@import "variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  border-right: 1px solid rgb(251, 249, 249);

  .logo {
    width: 100%;
    height: 5%;
    background-color: $secondary-color;
    opacity: 1;
  }

  .menu {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 50px 0 0 0;
    // box-shadow: rgba(254, 253, 253, 0.9) 0px 5px 15px;

    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .account {
      display: flex;
      justify-content: center;
      .avatar-preview {
        margin-top: 60px;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .username {
        margin-top: 65px;
        margin-left: 15px;
        h2 {
          font-weight: normal;
          margin: 0;
        }
        color: #fff;
        .activity-status {
          display: flex;
          align-items: center;
          color: #c2c2c2;
          .green-dot {
            margin-right: 5px;
            width: 10px;
            height: 10px;
            background-color: green;
            border-radius: 50%;
          }
        }
      }
    }
    .top-coins {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      color: #fff;
      .top-coins-block {
        .title {
          margin-bottom: 10px;
        }
        .list {
          .coin {
            margin-top: 10px;
            display: flex;
            align-items: center;
            img {
              margin-right: 10px;
            }
            span {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
