<div class="container">
  <div class="logo">
    <h2>CryptoDailyNews</h2>
  </div>
  <div class="menu">
    <div *ngIf="!isUserAuthenticated" class="auth-buttons">
      <div class="sign-in-btn">
        <button (click)="openAuthDialog(authPageName.SIGN_IN)">
          {{ pageName.SIGN_IN }}
        </button>
      </div>
      <div class="sign-up-btn">
        <button (click)="openAuthDialog(authPageName.SIGN_UP)">
          {{ pageName.SIGN_UP }}
        </button>
      </div>
    </div>

    <div *ngIf="isUserAuthenticated" class="account">
      <div class="avatar-preview">
        <img
          src="assets/images/avatar.jpeg"
          alt="avatar icon"
          draggable="false"
        />
      </div>
      <div class="username">
        <h2>{{ userName }}</h2>
        <div class="activity-status">
          <div *ngIf="cryptoList.length" class="online-status">
            <div class="green-dot"></div>
            <span>online</span>
          </div>
          <div *ngIf="!cryptoList.length" class="offline-status">
            <div class="red-dot"></div>
            <span>offline</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="separator" />

    <div class="top-coins">
      <div *ngIf="cryptoList.length" class="top-coins-block">
        <div class="title">Топ 10 криптовалют на сегодня</div>
        <div class="list">
          <div *ngFor="let item of cryptoList" class="coin">
            <img
              [src]="item.cap_id | toLink"
              alt="coin logo"
              height="20"
              draggable="false"
            />
            <span>{{ item.name }}</span>
            <small>{{ item.quote.USD.price | fixed : 2 }}$ </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
